<div class="calculator">
  <h2 class="calculator__tile">Калькулятор</h2>

  <ng-container *ngFor="let group of calcGroups; let i = index">
    <div class="calculator__container">
      <span>(</span>
      <select
        class="calculator__modificator"
        [(ngModel)]="group.first.modificator"
      >
        <option
          *ngFor="let modificator of calcModifiers | keyvalue"
          [value]="modificator.value"
        >
          {{ modificator.value }}
        </option>
      </select>
      <input
        type="number"
        class="calculator__input"
        [(ngModel)]="group.first.value"
      />
      <select class="calculator__select" [(ngModel)]="group.operation">
        <option
          *ngFor="let operation of calcOperations | keyvalue"
          [value]="operation.value"
        >
          {{ operation.value }}
        </option>
      </select>
      <select
        class="calculator__modificator"
        [(ngModel)]="group.second.modificator"
      >
        <option
          *ngFor="let modificator of calcModifiers | keyvalue"
          [value]="modificator.value"
        >
          {{ modificator.value }}
        </option>
      </select>
      <input
        type="number"
        class="calculator__input"
        [(ngModel)]="group.second.value"
      />
      <span>)</span>

      <button *ngIf="i > 0" (click)="removeCalcGroup(i)">Удалить группу</button>
    </div>

    <select
      class="calculator__modificator"
      [(ngModel)]="calcOperationsBetweenGroups[i]"
      *ngIf="calcOperationsBetweenGroups.length > i"
    >
      <option
        *ngFor="let operationBetween of calcOperationsBetweenGroups"
        [value]="operationBetween"
      >
        {{ operationBetween }}
      </option>
    </select>
  </ng-container>

  <span class="calculator__result">
    Результат: <span>{{ result ? result : "Нажмите расчитать" }}</span>
  </span>
  <div class="calculator__history">
    <span class="calculator__history-title">История операций:</span>
    <span *ngFor="let obj of history; let i = index"
      >{{ i + 1 }} {{ obj }}</span
    >
  </div>
  <div>
    <button (click)="calcGroup()" class="calculator__button">Расчитать</button>
    <button (click)="addCalcGroup()" class="calculator__button">
      Добавить группу
    </button>
  </div>
</div>
