<form [formGroup]="myForm">
  <div>
    <label for="login">Login</label>
    <input type="text" id="login" formControlName="login" />
    @if (myForm.controls.login.invalid && myForm.controls.login.touched) {
    <small style="color: red">Это поле обязательно для заполнения</small>
    }
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" />
    @if (myForm.controls.password.invalid && myForm.controls.password.touched) {
    <small style="color: red">Это поле обязательно для заполнения</small>
    }
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" />
    @if (myForm.controls.email.invalid && myForm.controls.email.touched) {
    <small style="color: red">Это поле обязательно для заполнения</small>
    }
  </div>

  <button (click)="handleValue()" [disabled]="myForm.invalid">
    Send value
  </button>
</form>
<div [formGroup]="validatorsForm">
  <h3>Custom validators</h3>
  <div>
    <label for="mail">Mail</label>
    <input type="text" id="mail" formControlName="mail" />
    @if (validatorsForm.controls.mail.invalid &&
    validatorsForm.controls.mail.touched) {
    <small style="color: red">Неправильно введены данные</small>
    }
  </div>
  <div>
    <label for="password_one">Password One</label>
    <input type="password" id="password_one" formControlName="password_one" />
  </div>
  <div>
    <label for="password_two">Password two</label>
    <input type="password" id="password_two" formControlName="password_two" />
  </div>
  <div>
    @if (validatorsForm.errors?.['PasswordDoNotMatch']) {
    <small style="color: red">Password do not match</small>
    }
  </div>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="fbGroup">
  <div>
    <label for="name">FormBuilder's Name</label>
    <input type="text" id="name" formControlName="name" />
  </div>

  <div formArrayName="skills">
    @for (skill of skills.controls; track skill; let i = $index) {
    <div [formGroupName]="i">
      <label [for]="i + 'skill'">{{ i + 1 }} | Skill</label>
      <input type="text" [id]="i + 'skill'" formControlName="skill" />
      <label [for]="i + 'exp'">Expirience</label>
      <input type="text" [id]="i + 'exp'" formControlName="expirience" />
      <button (click)="removeSkill(i)">Delete</button>
    </div>
    }
  </div>
  <button (click)="addSkill()" type="button">Add Skill</button>
  <button type="submit">Submit</button>
</form>
