<!-- <div
  *ngFor="
    let color of colors;
    let i = index;
    let first = first;
    let last = last;
    let count = count
  "
>
  <span>Index: {{ i }}; </span>
  <span>First: {{ first }}; </span>
  <span>Last: {{ last }}; </span>
  <span>count: {{ count }}; </span>
  <span>{{ color }}</span>
</div> -->

<!-- @for ( color of colors; track color; let i = $index; let count = $count; let
last = $last; let first = $first ) {
<div>
  <span>Index: {{ i }}; </span>
  <span>First: {{ first }}; </span>
  <span>Last: {{ last }}; </span>
  <span>count: {{ count }}; </span>
  <span>{{ color }}</span>
</div>
} @empty {
<span>выводит разметку если массив пустой</span>
} -->

<!-- <div>
  <span *ngIf="isShow; else emptyState"
    >{{ isShow }} я вывелся т.к. isShow === true</span
  >
  @if (isShow) {
  <span>а я вывелся по другому,через if!</span>

  }
  <button (click)="setIsShow()">
    @if (!isShow) { Показать скрытое }@else {Спрятать нахер}
  </button>
  <ng-template #emptyState>
    <span>this is emptyState</span>
  </ng-template>
</div> -->

<!-- @for ( color of colors; track color) {
<div>
  <button (click)="currentColor = color">{{ color }}</button>
</div>
} @empty {
<span>выводит разметку если массив пустой</span>
}
<div [ngSwitch]="currentColor">
  <span *ngSwitchCase="'red'">Выбранный цвет - красный</span>
  <span *ngSwitchCase="'green'">Выбранный цвет - зеленый</span>
  <span *ngSwitchCase="'blue'">Выбранный цвет - синий</span>
  <span *ngSwitchCase="'yellow'">Выбранный цвет - желтый</span>
</div>

@switch (currentColor) { @case ('red') {
<span [ngStyle]="elementStyle">Выбранный цвет - красный</span>
} @case ('green') {
<span>Выбранный цвет - зеленый</span>
} @case ('blue') {
<span ngClass="first second">Выбранный цвет - синий</span>
} @case ('yellow') {
<span>Выбранный цвет - желтый</span>
} } -->

<!-- <div [myChangeColor]="colors">Change colors</div> -->

<span *myIf="isShow">{{ isShow }}</span>
<br />
<button (click)="setIsShow()">set is show</button>
