<ul>
  <li>
    <a [routerLink]="['calculator']" routerLinkActive="active">Калькулятор</a>
  </li>
  <li>
    <a [routerLink]="['object-list']" routerLinkActive="active"
      >Список объектов</a
    >
  </li>
  <li>
    <a [routerLink]="['directives']" routerLinkActive="active">Директивы</a>
  </li>
  <li>
    <a [routerLink]="['lifecircle']" routerLinkActive="active"
      >Жизненный цикл</a
    >
  </li>
  <li>
    <a [routerLink]="['requests']" routerLinkActive="active"
      >Requests & services</a
    >
  </li>
  <li>
    <a [routerLink]="['pipes']" routerLinkActive="active">Pipes</a>
  </li>
</ul>
